/* ----------------------------- */
/* ----- GLOBAL STYLING -------- */
/* ----------------------------- */

/* ----- SET GLOBAL VARIABLES ----- */
:root {  

    /* BASE COLORS */
    --color-body-background: #{$background-color-body};

    --color-text-body: #{$text-color};
    --color-text-headings: #{$text-color-dark};

    --color-links: #{$link-color};
    --color-links-darker: #{$link-color-dark};
    // --color-links-light: #{$link-color-light};

    // --color-borders: #{$border-color};

    /* BASE TYPOGRAPHY */
    --font-body: #{$body-font-family};
    --font-headings: #{$heading-font-family};

}


/* GLOBAL RESETS */

/* CHANGE BOX-SIZING FOR ALL TO BORDER-BOX */
* { box-sizing: border-box; }

/* REMOVE THE DEFAULT 8px MARGIN ON THE BODY */
body { margin: 0; }


/* GLOBAL COLORS */
body {

    /* SET THE COLOR OF THE MAIN BODY BACKGROUND */
    background-color: var(--color-body-background);
    // background-color: $background-color-body;

    /* SET THE COLOR OF THE MAIN BODY TEXT */
    color: var(--color-text-body);
    // color: $text-color;

}

a {
    /* SET THE COLOR OF ALL TEXT LINKS */
    color: var(--color-links);
    // color: $link-color;

    &:hover {
        /* SET THE COLOR OF ALL HOVER STATES ON TEXT LINKS */
        color: var(--color-links-darker);
        // color: $link-color-dark;
    }

}
 