/* SITE-WIDE CONTAINER */
.container {
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: 1em;
}

/* SCALING TYPE FROM SMALL (14px) TO LARGER (18px) ACROSS SCREEN SIZES */

/* DEFAULT / SMALL & MEDIUM SCREENS = 14px */
body { font-size: 87.5%; }

/* MIDSIZE / LAPTOP SCREENS = 16px */
@media (min-width: 1050px) {
  body { font-size: 100%; }
}
/* LARGE / DESKTOP SCREENS = 18px */
@media (min-width: 1250px) {
  body { font-size: 112.5%; }
}


/* SEMANTIC GRID USING CSS FLEX BOX */
.row {
  /* SET THE GAP BETWEEN COLUMNS */
  --gridgap: 4%;
}

.row > * {
  margin-bottom: var(--gridgap);
}

@media (min-width: 768px) {
  .row {
    display: flex;
    gap: var(--gridgap);
  }

  .row > .one-whole { min-width: 100%; }
  .row > .one-half { min-width: calc( 50% - calc( var(--gridgap) / 2 ) ); }
  .row > .one-fourth { min-width: calc( 25% - calc( var(--gridgap) / 1.333 ) ); }
  .row > .one-third { min-width: calc( 33.3333% - calc( var(--gridgap) / 1.5 ) ); }
  .row > .two-thirds { min-width: calc( 66.6666% - calc( var(--gridgap) / 3 ) ); }
  .row > .three-fourths { min-width: calc( 75% - calc( var(--gridgap) / 4 ) ); }
  
  /* ADD SUPPORT FOR SIMPLE ROWS WITH AUTO CHILDREN COLUMNS   */
  .row > * { flex-grow: 1; }

  /* CENTERED HELPER CLASS  */
  .row > .centered { margin-inline: auto; flex-grow: 0; }
  
}
/* FOR DEMO PURPOSES ONLY */
.demo .row > * {
  padding: 1em;
  background: rgba(204, 204, 204, 0.7);
  color: rgba(51, 51, 51, 0.7);
  text-align: center;
}
.demo .row > * p {
  margin: 0;
  padding: 0 0.5em;
  max-width: none;
}