/* #SITE NAVIGATION  */
/* Default Site-Navigation Menu (both header & footer) */
.site-navigation { 
  // font-family: $body-font-family;
  // font-family: var(--font-body);

  .menu-button {
  /* HIDE THE MENU BUTTON BY DEFAULT */
    display: none;
  }

  ul {
    //border-top: $border-width solid $border-color;
    //margin: 1em 0 -.5em 0;
    margin: 0;
    padding: 0.5em 0;
    text-align: center; 
    li {
      margin: 0;
      padding: 0;
      /* MAKE LIST ITEMS INLINE BLOCKS */ 
      display: inline-block;
      line-height: 1;
      li {
        // display: inline-flex; //for nest nav items
        // min-width: 300px;
        white-space: nowrap;
      }

      a {
        display: block;
        padding: 0.5em 0.75em 0.4em 0.75em;
      }

      ul {
        border-top: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  @media (min-width: $breakpoint-small) {
    ul {
      border-top: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;

      li {

        a {
          margin: 0 0.5em;
          padding: 0.85em 0.5em 0.75em 0.5em;
        }
        a.button {
        /* ADD SUPPORT FOR SITE HEADR NAV BUTTONS */
          padding: 0.75em 1em;
        }

        li {
        // NESTED DROP DOWN MENUS
        /* stack nested lists */
          display: block;
        }
        ul {
          display: block;
          text-align: left;
        /* hide nested lists by default by absolute positioning them off screen */
          position: absolute;
          z-index: 100;
          left: -9000px;
          // background: $background-color-header;
          background-color: white;
          //margin-left: .5em;
          a {
            color: $text-color-light;
          }
        }

        /* show nested lists on hover */
        &:hover ul {
          left: auto;
          right: 0;
        }

        /* SELECTED STATE */
        &.selected,
        &.current-menu-item {
          a {
            font-weight: bold;
          }
          li a {
            font-weight: normal;
          }
        }
      }
    }
  }
}

/* STYLING FOR SMALL SCREEN NAV ITEMS */
@media (max-width: ($breakpoint-small - 1)) {

  .site-navigation ul li,
  .site-navigation ul li ul li {
    display: block;
  }

  /* MAKE NAV LINKS BIGGER FOR TOUCHSCREENS */
  .site-navigation ul li a {
    padding-block: .75em;
  }

  .site-navigation ul li a:hover {
    // color: $background-color-header;
    color: white;
    background-color: $link-color-dark;
  }
  
}

/* Default Site-Navigation (footer only) */
.site-footer .site-navigation {
  ul {
    border-top: none;
    margin: 0;
  }
}
