/* #BASE CSS (Initital Setup)
---------------------------------
    #GLOBAL SETTINGS
        # GLOBAL VARIABLES
        # GLOBAL RESETS
        # GLOBAL COLORS
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
        #HELPERS
        #MEDIA
            #IMAGES
            #VIDEO
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #CONTAINER
        #MEDIA QUERIES
        #GRID SYSTEM
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-logo (LOGO)
            #SITE NAVIGATION
                # toggle-nav (Default for Small Screens)
            #FOOTER
            #SECTIONS
            #SUB PAGES
                #...
--------------------------------- */
/* ----------------------------- */
/* ----- GLOBAL STYLING -------- */
/* ----------------------------- */
/* ----- SET GLOBAL VARIABLES ----- */
:root {
  /* BASE COLORS */
  --color-body-background: white;
  --color-text-body: rgba(0, 0, 0, 0.8);
  --color-text-headings: black;
  --color-links: #003366;
  --color-links-hover: #000033;
  /* BASE TYPOGRAPHY */
  --font-body: system-ui, Helvetica, Arial, sans-serif;
  --font-headings: system-ui, Helvetica, Arial, sans-serif;
}

/* GLOBAL RESETS */
/* CHANGE BOX-SIZING FOR ALL TO BORDER-BOX */
* {
  box-sizing: border-box;
}

/* REMOVE THE DEFAULT 8px MARGIN ON THE BODY */
body {
  margin: 0;
}

/* ENABLE NATIVE SMOOTH SCROLLING */
html {
  scroll-behavior: smooth;
}

/* GLOBAL COLORS */
body {
  /* SET THE COLOR OF THE MAIN BODY BACKGROUND */
  background-color: var(--color-body-background);
  /* SET THE COLOR OF THE MAIN BODY TEXT */
  color: var(--color-text-body);
}

h1, h2, h3, h4, h5, h6 {
  /* SET THE COLOR OF ALL HEADINGS */
  color: var(--color-text-headings);
}

a {
  /* SET THE COLOR OF ALL TEXT LINKS */
  color: var(--color-links);
}
a:hover {
  /* SET THE COLOR OF ALL HOVER STATES ON TEXT LINKS */
  color: var(--color-links-hover);
}

/* ----- SET GLOBAL TYPOGRAPHY ----- */
/* # GLOBAL BODY FONT SETTINGS */
body {
  /* SET THE DEFAUT FONT FAMILY FOR ALL MAIN BODY TEXT */
  font-family: var(--font-body);
  /* SET THE DEFAULT FONT SIZE ALL MAIN BODY TEXT */
  /* 100% = 16px */
  font-size: 100%;
  /* SET THE DEFAULT LEADING (LINE-HEIGHT) FOR ALL BODY TEXT */
  line-height: 1.4;
}

/* # GLOBAL HEADING SETTINGS */
h1, h2, h3, h4, h5, h6 {
  /* SET THE DEFAUT FONT FAMILY FOR ALL HEADINGS */
  font-family: var(--font-headings);
  /* SET THE DEFAUT MARGINS ALL HEADINGS */
  margin: 1em 0 0.25em 0;
  /* BALANCE ALL MULTI-LINE HEADINGS */
  text-wrap: balance;
  /* REDUCE TOP MARGIN IF FIRST CHILD */
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0.5em;
}

/* SET THE DEFAULT TYPOGRAPHIC SCALE FOR ALL HEADINGS 
   (e.g. a "Traditional" Scale) */
h1 {
  /* 48px / 16px = 3em */
  font-size: 3em;
  line-height: 1;
}

h2 {
  /* 36px / 16px = 2.25em */
  font-size: 2.25em;
  line-height: 1.1;
}

h3 {
  /* 24px / 16px = 1.5em */
  font-size: 1.5em;
  line-height: 1.2;
}

h4 {
  /* 21px / 16px = 1.3125em */
  font-size: 1.3125em;
  line-height: 1.3;
}

h5 {
  /* 18px / 16px = 1.125em */
  font-size: 1.125em;
  line-height: 1.4;
}

h6 {
  /* 16px / 16px = 1em */
  font-size: 1em;
  line-height: 1.5;
}

/* # GLOBAL PARAGRAPH SETTINGS */
p {
  /* SET THE DEFAUT MARGINS ALL PARAGRAPHS */
  margin: 0.5em 0;
  /* SET THE NUMBER OF CHARACTERS PER LINE */
  max-width: 65ch;
  /* WIDOW FIXER */
  text-wrap: pretty;
}

/* TEXT CENTERING HELPER CLASS */
.text-centered {
  text-align: center;
}

/* CENTER PARAGRAPHS WITH THE TEXT-CENTERED CLASS */
p.text-centered,
.text-centered p {
  margin-inline: auto;
}

/* ----- #MEDIA (Images, Videos, etc) -----  */
/* #IMAGES - MAKE ALL IMAGES RESPONSIVE BY DEFAULT */
img {
  max-width: 100%;
  height: auto;
}

/* #VIDEO - MAKE ALL IMAGES RESPONSIVE BY DEFAULT */
video {
  max-width: 100%;
  height: auto;
}

/* ----- #COMPONENTS -----  */
/* #BUTTONS */
button,
a.button {
  display: inline-block;
  background-color: var(--color-links);
  border: 1px solid var(--color-links);
  color: white;
  padding: 0.75em 1em;
  border-radius: 0.32em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
}

button.alt,
a.button.alt {
  background-color: transparent;
  border: 1px solid var(--color-links);
  color: var(--color-links);
}

button:hover,
a.button:hover {
  background-color: var(--color-links-hover);
  color: #fff;
  border-color: var(--color-links-hover);
  text-decoration: none;
}

/* SITE-WIDE CONTAINER */
.container {
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: 1em;
}

/* SCALING TYPE FROM SMALL (14px) TO LARGER (18px) ACROSS SCREEN SIZES */
/* DEFAULT / SMALL & MEDIUM SCREENS = 14px */
body {
  font-size: 87.5%;
}

/* MIDSIZE / LAPTOP SCREENS = 16px */
@media (min-width: 1050px) {
  body {
    font-size: 100%;
  }
}
/* LARGE / DESKTOP SCREENS = 18px */
@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }
}
/* SEMANTIC GRID USING CSS FLEX BOX */
.row {
  /* SET THE GAP BETWEEN COLUMNS */
  --gridgap: 4%;
}

.row > * {
  margin-bottom: var(--gridgap);
}

@media (min-width: 768px) {
  .row {
    display: flex;
    gap: var(--gridgap);
  }

  .row > .one-whole {
    min-width: 100%;
  }

  .row > .one-half {
    min-width: calc(50% - var(--gridgap) / 2);
  }

  .row > .one-fourth {
    min-width: calc(25% - var(--gridgap) / 1.333);
  }

  .row > .one-third {
    min-width: calc(33.3333% - var(--gridgap) / 1.5);
  }

  .row > .two-thirds {
    min-width: calc(66.6666% - var(--gridgap) / 3);
  }

  .row > .three-fourths {
    min-width: calc(75% - var(--gridgap) / 4);
  }

  /* ADD SUPPORT FOR SIMPLE ROWS WITH AUTO CHILDREN COLUMNS   */
  .row > * {
    flex-grow: 1;
  }

  /* CENTERED HELPER CLASS  */
  .row > .centered {
    margin-inline: auto;
    flex-grow: 0;
  }
}
/* FOR DEMO PURPOSES ONLY */
.demo .row > * {
  padding: 1em;
  background: rgba(204, 204, 204, 0.7);
  color: rgba(51, 51, 51, 0.7);
  text-align: center;
}

.demo .row > * p {
  margin: 0;
  padding: 0 0.5em;
  max-width: none;
}

/* Header & Footer */
/* Site Header */
.site-header {
  background: transparent;
  padding: 0.5em 1em;
}
@media (min-width: 768px) {
  .site-header {
    display: flex;
    justify-content: space-between;
    padding-top: 0.75em;
  }
}
.site-header a {
  color: var(--color-text-body);
  text-decoration: none;
}
.site-header a:hover {
  color: var(--color-links-hover);
}
.site-header a.button {
  color: white;
}

/* Site Logo */
.site-logo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.site-logo a img,
.site-logo a svg {
  display: block;
}
.site-logo h1 {
  font-size: 1.5em;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  color: var(--color-text-body);
  padding: 0.5em 0 0.4em 0;
}
.site-logo h1 a {
  font-weight: bold;
  display: inline-block;
}

/* Site Footer */
.site-footer {
  background: transparent;
  padding-block: 2em;
}
.site-footer a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
.site-footer a:hover {
  color: #000033;
}
.site-footer .container {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
@media (min-width: 768px) {
  .site-footer .container {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5em;
  }
}

/* Main Site Section (Main Content Area) */
/* Main Sections */
section {
  padding: 3em 0;
}

/* Hero Sections */
.hero {
  background: #dddddd;
  border-top: none;
  padding: 4em 1em 4em 1em;
}
.hero h1,
.hero h2 {
  font-size: 4em;
  line-height: 1.1em;
  letter-spacing: -0.02em;
}
.hero h1,
.hero h2,
.hero p {
  text-wrap: balance;
}
.hero.full-width {
  margin-top: 0;
  margin-bottom: 0;
}

/* #SITE NAVIGATION  */
/* Default Site-Navigation Menu (both header & footer) */
.site-navigation .menu-button {
  /* HIDE THE MENU BUTTON BY DEFAULT */
  display: none;
}
.site-navigation ul {
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
}
.site-navigation ul li {
  margin: 0;
  padding: 0;
  /* MAKE LIST ITEMS INLINE BLOCKS */
  display: inline-block;
  line-height: 1;
}
.site-navigation ul li li {
  white-space: nowrap;
}
.site-navigation ul li a {
  display: block;
  padding: 0.5em 0.75em 0.4em 0.75em;
}
.site-navigation ul li ul {
  border-top: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .site-navigation ul {
    border-top: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .site-navigation ul li {
    /* show nested lists on hover */
    /* SELECTED STATE */
  }
  .site-navigation ul li a {
    margin: 0 0.5em;
    padding: 0.85em 0.5em 0.75em 0.5em;
  }
  .site-navigation ul li a.button {
    /* ADD SUPPORT FOR SITE HEADR NAV BUTTONS */
    padding: 0.75em 1em;
  }
  .site-navigation ul li li {
    /* stack nested lists */
    display: block;
  }
  .site-navigation ul li ul {
    display: block;
    text-align: left;
    /* hide nested lists by default by absolute positioning them off screen */
    position: absolute;
    z-index: 100;
    left: -9000px;
    background-color: white;
  }
  .site-navigation ul li ul a {
    color: rgba(0, 0, 0, 0.6);
  }
  .site-navigation ul li:hover ul {
    left: auto;
    right: 0;
  }
  .site-navigation ul li.selected a, .site-navigation ul li.current-menu-item a {
    font-weight: bold;
  }
  .site-navigation ul li.selected li a, .site-navigation ul li.current-menu-item li a {
    font-weight: normal;
  }
}

/* STYLING FOR SMALL SCREEN NAV ITEMS */
@media (max-width: 767px) {
  .site-navigation ul li,
.site-navigation ul li ul li {
    display: block;
  }

  /* MAKE NAV LINKS BIGGER FOR TOUCHSCREENS */
  .site-navigation ul li a {
    padding-block: 0.75em;
  }

  .site-navigation ul li a:hover {
    color: white;
    background-color: #000033;
  }
}
/* Default Site-Navigation (footer only) */
.site-footer .site-navigation ul {
  border-top: none;
  margin: 0;
}