/* #COMPONENTS  */
/* #BUTTONS */
button {
  font-size: inherit;
}

button,
a.button {
  display: inline-block;
  // background-color: var(--color-links);
  background-color: $link-color;
  // border: 1px solid var(--color-links);
  border: 1px solid $link-color;
  color: #fff;
  padding: 0.75em 1em;
  border-radius: 0.32em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  // border: none;
  cursor: pointer;
  line-height: 1; 
  text-decoration: none;
}

button.alt,
a.button.alt {
  background-color: transparent;
  // border: 1px solid var(--color-links);
  border: 1px solid $link-color;
  // color: var(--color-links);
  color: $link-color;
}

button:hover,
a.button:hover {
  // background-color: var(--color-links-darker);
  background-color: $link-color-dark;
  color: #fff;
  // border-color: var(--color-links-darker);
  border-color: $link-color-dark;
  text-decoration: none;
}
