/* ------ SITE NAVIGATION EXTRAS ------ */

/* ADD SUPPORT FOR NESTED LISTS AS DROP DOWN MENUS */
.site-navigation li li {
  white-space: nowrap;
}

@media (width >= $breakpoint-small) {
  .site-navigation li {

    /* Make each list item a parent to any nested uls */ 
    position: relative;

    li {
    /* Stack nested lists */
      display: block;
    }

    ul {
      display: block;
      text-align: left;
      
      /* Hde nested lists by default via absolute positioning them off screen */
      position: absolute;
      z-index: 100;
      left: -9000px;

      /* Give nested lists some padding and a background color */
      padding-block-end: 1em;
      background-color: $background-color-header;

      // FIX BG COLOR OF NESTED NAV IF DEFAULT THEME IS WHITE
      @if ($theme == "default") { 
        background-color: white;
      }

      /* Style nested list links slighlty differently than parent links */
      a {
        color: $text-color-light;
      }
    }

    /* Show nested lists on hover and anchor them to the Left by Default*/
    &:hover ul {
      left: 0;
    }
    /* Anchor the Nested list to the right edge of the parent if it's the last child */
    &:last-child:hover ul {
      right: 0;
      left: auto;
    } 

  }

}


