/* LAYOUT */

/* SITE-WIDE CONTAINER WRAPPER CLASS */ 
.container {
  max-width: $breakpoint-medium - 50;
  margin: 0 auto;
  padding: 0 1em; 
}

/*
#MEDIA QUERIES (Mobile First)
	#DEFAULT+ (Mobile First - Default Settings in the CSS Above)
	#SMALL- (Mobile Only Overrides) - max-width: 767px
	#MEDIUM+ (Tablet) - min-width: 768px
	#LARGE+ (Desktop) - min-width: 1050px
	#EXTRALARGE+ (Desktop+) - min-width: 1250px  */

/* SMALL+ (Mobile First Defaults) */

/* SET YOUR BODY TEXT TO BE RESPONSIVE 
  - Small screens: 14px;
  - Medium Screens: 16px;
  - Large Screens: 18px;
*/

/* MOBILE FIRST (DEFAULT) */
body {
  /* Set the default font size for small screens to 87.5% = 14px; */ 
  font-size: 87.5%; 
}

/* #MEDIUM+ MEDIA QUERY */
@media (min-width: $breakpoint-small) {
  /* Inherits Small/Mobile Body Type from Above */
}

/* #LARGE+ MEDIA QUERY */
@media (min-width: $breakpoint-medium) {
  /* LARGE BODY TYPE */
  body {
    /* Set the default font size for medium sized screens to 100% = 16px; */
    font-size: 100%; 
  }
}

/* #EXTRA-LARGE+ MEDIA QUERY */
@media (min-width: $breakpoint-large) {
  /* EXTRA-LARGE BODY TYPE */
  body {
    /* Set the default font size for large screens to 112.5% = 18px; */
    font-size: 112.5%; 
  }

  /* FIXED WIDTH */
  .container {
    max-width: $breakpoint-large - 50;
  }
}

/* SEMANTIC GRID USING CSS FLEX BOX */
.row {
  /* SET THE GAP BETWEEN COLUMNS */ 
  --gridgap: 4%;  
}

.row > * {
  margin-bottom: var(--gridgap);
}

@media (min-width: 768px) {
  .row {
    display: flex;
    gap: var(--gridgap);
  }

  .row > *,
  .row > .one-whole {
    width: 100%;
  }
  .row > .one-half {
    width: calc(50% - (var(--gridgap) / 2));
  }
  .row > .one-third {
    width: calc(33.3333% - (var(--gridgap) / 1.5));
  }
  .row > .two-thirds {
    width: calc(66.6666% - (var(--gridgap) / 3));
  }
  .row > .one-fourth {
    width: calc(25% - (var(--gridgap) / 1.5));
  }
  .row > .three-fourths {
    width: calc(75% - (var(--gridgap) / 2.5));
  }

  .row > .push-one-half {
    margin-left: calc((50% - (var(--gridgap) / 2)) + var(--gridgap));
  }
  .row > .push-one-third {
    margin-left: calc((33.3333% - (var(--gridgap) / 1.5)) + var(--gridgap));
  }
  .row > .push-one-fourth {
    margin-left: calc((25% - (var(--gridgap) / 1.5)) + var(--gridgap));
  }

  .row > .centered {
    margin-inline: auto; 
  }
}

/* FOR DEMO PURPOSES ONLY */
.demo .column {
  padding: 1em;
  background: rgb(204 204 204 / .7);
  color: rgb(51 51 51 / .7);
  text-align: center;
  p {
    margin: 0;
    padding: 0 .5em; 
    max-width: none;
  }
} 
