/* ----- #MEDIA (Images, Videos, etc) -----  */

/* #IMAGES - MAKE ALL IMAGES RESPONSIVE BY DEFAULT */
img {
  max-width: 100%;
  height: auto;
} 

/* #VIDEO - MAKE ALL IMAGES RESPONSIVE BY DEFAULT */
video {
  max-width: 100%;
  height: auto;
} 



