/* TOGGLE NAV */
.toggle-nav {

  @media (max-width: ($breakpoint-small - 1)) {

    text-align: right;


    .site-logo {
      position:absolute; 
    } 

    .site-navigation ul li a {
      padding: 0.75em;
    }

    li a:hover {
      color: #fff;
      background: $link-color;
    }

    /* MENU BUTTON */
    .menu-button {
      margin: .6em 0;
      display: inline-block;
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;

      &::selection {
        background-color: rgba(255, 255, 255, 0);
      }

      &.navicon {
        color: rgba(255, 255, 255, 0); 
      }

      &.navicon::after {
        color: #333;
        content: "\2630";
        font-size: 2em;
        margin-top: -.1em;
        margin-bottom: .1em;
        margin-left: 0;
        width: 1em;
        height: 1em;
        line-height: 1;
        display: inline-block;
      }
    }

    &[data-navstate="open"] {
      .menu-button.navicon::after {
        content: "\2715";
        font-size: 1.6em;
        margin-top: .2em;
        margin-right: .1em;
      }
    }

    /* TOGGLE NAV UL */
    ul {
      max-height: 0;
      overflow: hidden;
      padding: 0;
    }
    &[data-navstate="open"] {
      ul {
        max-height: none;
        padding: 1em 0;
        ul {
          padding: 0;
        }
      }
    }
  }

}

/* Animated Toggle-Nav Menu */
@media (max-width: ($breakpoint-small - 1)) {
  .toggle-nav.animated ul { 
    transition: all 0.4s ease-out;
  }

}
