/* ----- SITE NAVIGATION ------ */
// .site-navigation {
//   font-size: .8em;
// }

/* RESET THE STYLING FOR SITE NAV LISTS */
.site-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

/* HIDE THE MENU BUTTON BY DEFAULT (in case one exists) */
.site-navigation .menu-button {
  display: none;
}

/* DISPLAY LIST ITEMS SIDE-BY-SIDE ON LARGE SCREENS*/
@media ( width >= 768px ) {

  .site-navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
  }

}

/* STYLE NAV LINKS DIFFERENTLY THAN DEFAULT INLINE LINKS*/
.site-navigation a {
  text-decoration: none;
  color: var(--color-text-headings);
  padding: .5em 1em;
  display: block;
}