/* ----- SET GLOBAL TYPOGRAPHY ----- */

/* # GLOBAL BODY FONT SETTINGS */
body {

  /* SET THE DEFAUT FONT FAMILY FOR ALL MAIN BODY TEXT */
  // font-family: $body-font-family;
  font-family: var(--font-body);

  /* SET THE DEFAULT FONT SIZE ALL MAIN BODY TEXT */
  /* 100% = 16px */
  font-size: 100%; 

  /* SET THE DEFAULT LEADING (LINE-HEIGHT) FOR ALL BODY TEXT */
  line-height: 1.4;

}

/* # GLOBAL HEADING SETTINGS */
h1,
h2,
h3,
h4,
h5,
h6 {

  /* SET THE DEFAUT FONT FAMILY FOR ALL HEADINGS */
  // font-family: $heading-font-family;
  font-family: var(--font-headings);
  /* SET THE COLOR OF ALL HEADINGS */
  color: var(--color-text-headings);

  /* SET THE DEFAUT MARGINS ALL HEADINGS */
  margin: 0.5em 0;
}

/* SET THE DEFAULT TYPOGRAPHIC SCALE FOR ALL HEADINGS 
   (e.g. a "Traditional" Scale) */

h1 {
  /* 48px / 16px = 3em */
  font-size: 3em; 
  line-height: 1;
}

h2 {
  /* 36px / 16px = 2.25em */
  font-size: 2.25em; 
  line-height: 1.1;
}

h3 {
  /* 24px / 16px = 1.5em */
  font-size: 1.5em; 
  line-height: 1.2;
}

h4 {
  /* 21px / 16px = 1.3125em */
  font-size: 1.3125em; 
  line-height: 1.3;
}

h5 {
  /* 18px / 16px = 1.125em */
  font-size: 1.125em; 
  line-height: 1.4;
}

h6 {
  /* 16px / 16px = 1em */
  font-size: 1em; 
  line-height: 1.5;
}

/* # GLOBAL PARAGRAPH SETTINGS */
p {

  /* SET THE DEFAUT MARGINS ALL PARAGRAPHS */
  margin: 0.5em 0;

  /* SET THE NUMBER OF CHARACTERS PER LINE */
  max-width: 65ch;

  /* WIDOW FIXER */
  text-wrap: pretty; 

}

/* SET THE DEFAUT WEIGHT FOR BOLD/STRONG TEXT */
strong {
  font-weight: 700;
}

/* SET THE DEFAUT STYLING FOR ITALIC/EMPASIZED TEXT */
em {
  font-style: italic;
}

/* TEXT CENTERING HELPER CLASS */
.text-centered {
  text-align: center;
}
/* CENTER PARAGRAPHS INSIDE THE TEXT-CENTERED CLASS */
.text-centered p {
  margin-inline: auto; 
}