/* #BASE CSS (Initital Setup)
---------------------------------
    #GLOBAL SETTINGS
        # GLOBAL VARIABLES
        # GLOBAL RESETS
        # GLOBAL COLORS
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
        #HELPERS
        #MEDIA
            #IMAGES
            #VIDEO
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #CONTAINER
        #MEDIA QUERIES
        #GRID SYSTEM
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-logo (LOGO)
            #SITE NAVIGATION
                # toggle-nav (Default for Small Screens)
            #FOOTER
            #SECTIONS
            #SUB PAGES
                #...
--------------------------------- */
/* ----------------------------- */
/* ----- GLOBAL STYLING -------- */
/* ----------------------------- */
/* SET GLOBAL VARIABLES */
:root {
  /* BASE COLORS */
  /* BASE TYPOGRAPHY */
}

/* GLOBAL RESETS */
/* CHANGE BOX-SIZING FOR ALL TO BORDER-BOX */
* {
  box-sizing: border-box;
}

/* REMOVE THE DEFAULT 8px MARGIN ON THE BODY */
body {
  margin: 0;
}

/* GLOBAL COLORS */
body {
  /* SET THE COLOR OF THE MAIN BODY BACKGROUND */
  background-color: #fff;
  /* SET THE COLOR OF THE MAIN BODY TEXT */
  color: #333;
}

a {
  /* SET THE COLOR OF ALL TEXT LINKS */
  color: #036;
}
a:hover {
  /* SET THE COLOR OF ALL HOVER STATES ON TEXT LINKS */
  color: #003;
}